.btn1{
    background: darkmagenta;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
   margin-bottom: 34px;
    width: 145px;
  }
  .btn1:hover{
    background: darkmagenta;
    transition: 0.5s;
  }